---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.profile {
  position: relative;
  min-height: 240px;

  & > * {
    margin-left: 240px;
  }

  .image {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 200px;
    height: 200px;
    border: thick double #cd5e3c;
  }

  .fullname {
    font-family: 'Press Start 2P', cursive;
    font-size: 200%;
    color: #cd5e3c;
  }

  .description {
    font-size: 120%;
  }
}

.facebook {
  float: left;
}

.twitter {
  float: right;
}

.github {
  margin: auto;
}