---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Define defaults for each variable.
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
$base-font-family: 'Ubuntu Condensed', sans-serif; //-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap');
$head-font-family: 'Tourney', cursive; //'Rampart One', cursive;
$head-font-color: #cd5e3c;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "./assets/css/base",
  "./assets/css/layout",
  "./assets/css/syntax-highlighting"
;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.profile {
  position: relative;
  min-height: 240px;

  & > * {
    margin-left: 240px;
  }

  .image {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 200px;
    height: 200px;
    border: thick double #cd5e3c;
  }

  .fullname {
    font-family: 'Press Start 2P', cursive;
    font-size: 200%;
    color: #cd5e3c;
  }

  .description {
    font-size: 120%;
  }
}

.wrapper-home {
  display: grid;
  grid-template-areas:
    "facebook twitter"
    "youtube youtube"
    "github github";
  grid-template-columns: 2fr 1fr;
  @include media-query(660px) {
    grid-template-areas:
      "facebook"
      "twitter"
      "youtube"
      "github";
    grid-template-columns: 1fr;
  }
  grid-gap: 10px;
}

.facebook {
  grid-area: facebook;
}

.twitter {
  grid-area: twitter;
}

.youtube {
  grid-area: youtube;
  //height: 0;
  //margin-bottom: 1rem;
  //overflow: hidden;
  //padding-bottom: 67.5%;
  //padding-top: 1.5625rem;
  //position: relative;
}

.github {
  grid-area: github;
  //margin: auto;
}
