<h1>{{ site.data.translate.about.title[page.lang] }}</h1>

<p>{{ site.data.translate.about.description[page.lang] }}</p>

<h2>{{ site.data.translate.about.education[page.lang] }}</h2>

|{{ site.data.translate.about.education.year[page.lang] }}|{{ site.data.translate.about.education.education[page.lang] }}|
|----------|------------------------------------------------------------------|
|2013--2018|{{ site.data.translate.about.education.kosen[page.lang] }}        |
|2018--2020|{{ site.data.translate.about.education.undergraduate[page.lang] }}|
|2020--2022|{{ site.data.translate.about.education.graduate[page.lang] }}     |
|2022--    |{{ site.data.translate.about.education.doctor[page.lang] }}     |

<h2>{{ site.data.translate.about.work[page.lang] }}</h2>

<h3>{{ site.data.translate.about.work.programming[page.lang] }}</h3>
<ul class="work">
{%- for data in site.data.about.work-programming -%}
  {%- if data.name-key -%}<li><span class="name">{{ site.data.translate.about.work.programming[data.name-key][page.lang] }}</span>
    {%- if data.start -%}<ul><li class="info">{{ data.start }}{%- if page.lang == 'ja' -%}年{%- endif -%}～{%- if data.end -%}{{ data.end }}{%- if page.lang == 'ja' -%}年{%- endif -%}{%- endif -%}</li></ul>{%- endif -%}
    {%- if data.disc-key -%}<ul><li class="info">{{ site.data.translate.about.work.programming[data.disc-key][page.lang] }}</li></ul>{%- endif -%}
  </li>{%- endif -%}
{%- endfor -%}
</ul>

<h3>{{ site.data.translate.about.work.academia[page.lang] }}</h3>
<ul class="work">
{%- for data in site.data.about.work-academia -%}
  {%- if data.name-key -%}<li><span class="name">{{ site.data.translate.about.work.academia[data.name-key][page.lang] }}</span>
    {%- if data.start -%}<ul><li class="info">{{ data.start }}{%- if page.lang == 'ja' -%}年{%- endif -%}～{%- if data.end -%}{{ data.end }}{%- if page.lang == 'ja' -%}年{%- endif -%}{%- endif -%}</li></ul>{%- endif -%}
    {%- if data.disc-key -%}<ul><li class="info">{{ site.data.translate.about.work.academia[data.disc-key][page.lang] }}</li></ul>{%- endif -%}
  </li>{%- endif -%}
{%- endfor -%}
</ul>

<h3>{{ site.data.translate.about.work.swimming[page.lang] }}</h3>
<ul class="work">
{%- for data in site.data.about.work-swimming -%}
  {%- if data.name-key -%}<li><span class="name">{{ site.data.translate.about.work.swimming[data.name-key][page.lang] }}</span>
    {%- if data.start -%}<ul><li class="info">{{ data.start }}{%- if page.lang == 'ja' -%}年{%- endif -%}～{%- if data.end -%}{{ data.end }}{%- if page.lang == 'ja' -%}年{%- endif -%}{%- endif -%}</li></ul>{%- endif -%}
    {%- if data.disc-key -%}<ul><li class="info">{{ site.data.translate.about.work.swimming[data.disc-key][page.lang] }}</li></ul>{%- endif -%}
  </li>{%- endif -%}
{%- endfor -%}
</ul>

<h2>{{ site.data.translate.about.society[page.lang] }}</h2>

<ul class="society">
{%- for data in site.data.about.society -%}
  {%- if data.name-key -%}<li><span class="name">{{ site.data.translate.about.society[data.name-key][page.lang] }}</span>
    {%- if data.start -%}<ul><li class="info">{{ data.start }}{%- if page.lang == 'ja' -%}年{%- endif -%}～</li></ul>{%- endif -%}
  </li>{%- endif -%}
{%- endfor -%}
</ul>

<h2>{{ site.data.translate.about.committee[page.lang] }}</h2>

<ul class="committee">
{%- for data in site.data.about.committee -%}
  {%- if data.name-key -%}<li><span class="name">{{ site.data.translate.about.committee[data.name-key][page.lang] }}</span>
    {%- if data.start -%}<ul><li class="info">{{ data.start }}{%- if page.lang == 'ja' -%}年{%- endif -%}～{%- if data.end -%}{{ data.end }}{%- if page.lang == 'ja' -%}年{%- endif -%}{%- endif -%}</li></ul>{%- endif -%}
    {%- if data.disc-key -%}<ul><li class="info">{{ site.data.translate.about.committee[data.disc-key][page.lang] }}</li></ul>{%- endif -%}
  </li>{%- endif -%}
{%- endfor -%}
</ul>

<h2>{{ site.data.translate.about.programming[page.lang] }}</h2>

<ul class="programming">
{%- for data in site.data.about.programming -%}
  {%- if data.lang -%}<li><span class="lang">{{ data.lang }}</span>
    {%- if data.start -%}<ul><li class="info">{{ data.start }}{%- if page.lang == 'ja' -%}年{%- endif -%}～</li></ul>{%- endif -%}
    {%- if data.memo-key -%}<ul><li class="info">{{ site.data.translate.about.programming[data.memo-key][page.lang] }}</li></ul>{%- endif -%}
  </li>{%- endif -%}
{%- endfor -%}
<li>{{ site.data.translate.about.programming.others[page.lang] }}
  <ul>{%- for data in site.data.about.programming.last.others -%}<li class="info"><span class="lang">{{ data }}</span></li>{%- endfor -%}</ul>
  <ul><li class="info">{{ site.data.translate.about.programming.others.memo[page.lang] }}</li></ul>
</li>
</ul>
