<h1><span class="{{ page.lang }}">{{ site.data.translate.about.title[page.lang] }}</span></h1>

<h3><span class="{{ page.lang }}">{{ site.data.translate.about.education[page.lang] }}</span></h3>

|{{ site.data.translate.about.education.year[page.lang] }}|{{ site.data.translate.about.education.education[page.lang] }}|
|----------|------------------------------------------------------------------|
|2020--    |{{ site.data.translate.about.education.graduate[page.lang] }}     |
|2018--2020|{{ site.data.translate.about.education.undergraduate[page.lang] }}|
|2013--2018|{{ site.data.translate.about.education.kosen[page.lang] }}        |

<!--
<h3><span class="{{ page.lang }}">{{ site.data.translate.about.activity[page.lang] }}</span></h3>

<div class="activity">
  <select id="activity-view-num" onchange="change_table();">
    <option value="10">10</option>
    <option value="256">All</option>
  </select>

  <table id="activity-table"><tbody>
    <tr><th>{{ site.data.translate.about.activity.date[page.lang] }}</th><th>{{ site.data.translate.about.activity.description[page.lang] }}</th></tr>
    {% for item in site.data.activity %}
      <tr><td>{{ item.date }}</td><td>{{ item.description }}</td></tr>
    {% endfor %}
  </tbody></table>
</div>

<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}">
-->