<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0" nonce="3P8hdPto"></script>

<h1>{{ site.data.translate.home.activities[page.lang] }}</h1>

<div class="news">
  <ul class="news-list">
    {% for item in site.data.news limit: 5 %}
    <li class="news-item">
      <span class="news-date">{{ item.date }}</span>
      <span class="news-desc">{{ item.description[page.lang] }}</span>
    </li>
    {% endfor %}
  </ul>
  {%- assign news_page = site.pages | where: "path", site.data.navigation[page.lang][3] | first -%}
  <a href="{{ news_page.url | relative_url }}"><div id="more-info">More Info</div></a>
</div>

<h1>{{ site.data.translate.home.posts[page.lang] }}</h1>

<div class="wrapper-home">
  <div class="facebook">
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fryosuke.takata.9%2Fposts%2Fpfbid0Q1s5R7fEmeZdt1PYPZsKD5Sysz8Bv2fkmNAcpUaJNhTbcKcVRnDN4q6ZnpDf8PFTl&show_text=true&width=500" width="500" height="767" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>

  <div class="youtube">
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/?list=UUF8ViNqQffiG0WvSjP-bfNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="twitter">
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">科研費、採択された！良かった〜</p>&mdash; тасата (@bonochof) <a href="https://twitter.com/bonochof/status/2027265371343065419?ref_src=twsrc%5Etfw">February 27, 2026</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
