<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0" nonce="3P8hdPto"></script>

<h1>{{ site.data.translate.home.activities[page.lang] }}</h1>

<div class="news">
  <table id="news-table"><tbody>
    <tr><th>{{ site.data.translate.news.date[page.lang] }}</th><th>{{ site.data.translate.news.description[page.lang] }}</th></tr>
    {% for item in site.data.news limit: 3 %}
      <tr><td>{{ item.date }}</td><td>{{ item.description[page.lang] }}</td></tr>
    {% endfor %}
  </tbody></table>
  {%- assign news_page = site.pages | where: "path", site.data.navigation[page.lang][3] | first -%}
  <a href="{{ news_page.url | relative_url }}"><div id="more-info">More Info</div></a>
</div>

<h1>{{ site.data.translate.home.posts[page.lang] }}</h1>

<div class="wrapper-home">
  <div class="facebook">
    <div class="fb-post" data-href="https://www.facebook.com/ryosuke.takata.9/posts/pfbid0tspbMWvHavWGGgbhtER96B7tHeE6P921RQG9R4muskBFDmkb137rPTB7dKxBbzEel" data-width="500" data-show-text="true"></div>
  </div>

  <div class="twitter">
    <a class="twitter-timeline" data-width="300" data-height="712" data-theme="light" href="https://twitter.com/bonochof?ref_src=twsrc%5Etfw">Tweets by bonochof</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="youtube">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/?list=UUF8ViNqQffiG0WvSjP-bfNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="github">
    <a href="https://github.com/bonochof" target="_blank" rel="noopener noreferrer"><img src="https://grass-graph.appspot.com/images/bonochof.png"></a>
  </div>
</div>
