<h1><span class="{{ page.lang }}">{{ site.data.translate.publications.title[page.lang] }}</span></h1>

<h2><span class="{{ page.lang }}">{{ site.data.translate.publications.journals[page.lang] }}</span></h2>

<h2><span class="{{ page.lang }}">{{ site.data.translate.publications.conferences[page.lang] }}</span></h2>

<h2><span class="{{ page.lang }}">{{ site.data.translate.publications.ja-conferences[page.lang] }}</span></h2>

<h2><span class="{{ page.lang }}">{{ site.data.translate.publications.invite[page.lang] }}</span></h2>

<h2><span class="{{ page.lang }}">{{ site.data.translate.publications.awards[page.lang] }}</span></h2>
