<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <canvas id="life-canvas"></canvas>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include profile.html -%}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/life.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/gantt.js" | relative_url }}"></script>
  </body>

</html>
